<!-- <mat-card>
    <mat-icon class="search-button" matSuffix (click)="changeHeaderTitle()">search</mat-icon>
    <mat-form-field *ngIf="searchModeEnabled">
        <input matInput>
    </mat-form-field>
</mat-card> -->
<div class="search-container">
    <mat-form-field class="search-field">
        <input matInput [(ngModel)]="searchPattern" (ngModelChange)="searchUser()">
        <mat-icon class="search-button" matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<mat-list>
    <div *ngIf="searchModeEnabled">
        <div mat-subheader>{{searchGridTitle}}</div>
        <div *ngIf="!searchResultLodaing">
            <mat-list-item *ngFor="let user of searchResults">
                <!-- <mat-icon mat-list-icon>contacts</mat-icon> -->
                <img matListAvatar class="profile-image" (click)="showProfile(user.login, profileCardType.UserProfile)" [src]="getImage(user.iconUrl) | secure | async">
                <div mat-line>{{user.name}}</div>
                <div mat-line>{{user.phoneNumber}}</div>
            </mat-list-item>
        </div>
        <div *ngIf="searchResultLodaing">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div mat-subheader>{{contactsGridTitle}}</div>
    <div *ngIf="!contactsLoading">
        <mat-list-item *ngFor="let user of userContacts">
            <!-- <mat-icon mat-list-icon>contacts</mat-icon> -->
            <img matListAvatar class="profile-image" (click)="showProfile(user.contact.login, profileCardType.MyContactProfile)" [src]="getImage(user.contact.iconUrl) | secure | async">
            <div mat-line>{{user.displayName}}</div>
            <div mat-line>{{user.contact.phoneNumber}}</div>
        </mat-list-item>
    </div>
    <mat-spinner *ngIf="contactsLoading" color="accent"></mat-spinner>
</mat-list>