.send-message-input {
    
}

.chat-area{
    overflow: auto;
    height: 75%;
}
.chat-input {
    position: absolute;
    width: 100%;
    margin-right: 20px;
    bottom: 0%;
}

.chat-input-field {
    margin-left: 20px;
    margin-right: 10px;
}

.chat-send-button {
    margin-right: 10px;
    position: relative;
    margin-left: 10px;
}

.message-box {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.chat-sender-name{
    font-size: 12px;
}