<div style="height: 100%;">
    <div>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar [src]="profileImageUrl | secure | async">
                <mat-card-title>{{selectedConversation?.name}}</mat-card-title>
                <mat-card-subtitle>{{lastSeen}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="chat-area">
        <!-- <div *ngFor="let message of messages" class="message-box">
            <p>{{message?.content?.text}}</p>
        </div> -->
        <div *ngIf="!messagesLoading">
            <mat-card *ngFor="let message of messages" class="message-box" (click)="handleMessageBoxClick(message?.id)">
                <mat-card-header>
                    <img class="profile-image" mat-card-avatar [src]="getIconUrl(message.sender?.user?.iconUrl) | secure | async" (click)="showProfile()"/>
                    <mat-card-title class="chat-sender-name" [style]="getUserNameColor(message)">{{message.sender?.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{message.content?.text}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions *ngIf="isChatMessageSelected(message.id)">
                    <table cellSpacing="0">
                        <tr>
                            <td>
                                <button mat-icon-button class="message-action-button">
                                    <mat-icon>reply</mat-icon>
                                    REPLY
                                </button>
                            </td>
                            <td>
                                <button mat-icon-button class="message-action-button">
                                    <mat-icon>thumb_up</mat-icon>
                                    LIKE
                                </button>
                            </td>
                            <td>
                                <button mat-icon-button class="message-action-button">
                                    <mat-icon>thumb_down</mat-icon>
                                    DISLIKE
                                </button>
                            </td>
                            <td>
                                <button mat-icon-button class="message-action-button" style="color: red;">
                                    <mat-icon>delete</mat-icon>
                                    DELETE
                                </button>
                            </td>
                        </tr>
                    </table>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-spinner color="accent" *ngIf="messagesLoading"></mat-spinner>
    </div>
    <div class="chat-input">
        <div class="chat-input-field">
            <mat-form-field style="width: 100%">
                <mat-label>Your message to {{selectedConversation?.name}}</mat-label>
                <textarea matInput (ngModelChange)="handleInput($event)" [(ngModel)]="newMessage"></textarea>
            </mat-form-field>
        </div>
        <div class="chat-send-button">
            <button mat-icon-button (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>