.send-message-input {
    
}

.chat-area{
    
}

.chat-input {
    position: absolute;
    width: 100%;
    margin-right: 20px;
    bottom: 0%;
}

.chat-input-field {
    margin-left: 20px;
    margin-right: 10px;
}

.chat-send-button {
    margin-right: 10px;
    position: relative;
    margin-left: 10px;
}

.message-box {
    background-color: #424242;
    width: auto;
    display: inline-block;
    max-width: 40%;
}