<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>
<p>Welcome home, samurai</p>