<mat-card class="card">
    <div *ngIf="loading">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <div *ngIf="!loading">
        <mat-card-header>
            <img mat-card-avatar [src]="urlImage | secure | async" class="card-header-image"/>
            <mat-card-title>{{name}}</mat-card-title>
            <mat-card-subtitle>{{phoneNumber}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="user-photo" (click)="scaleImage()" [attr.src]="image | secure | async" alt="Photo of a User">
            <mat-card-content>
            <p>
                {{description}}
            </p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="!likesLoading" mat-button (click)="likeProfile()">
                    <mat-icon *ngIf="isLiked">favorite</mat-icon>
                    <mat-icon *ngIf="!isLiked">favorite_border</mat-icon>
                    {{likes}}
                </button>
                <mat-spinner *ngIf="likesLoading" color="accent" diameter="20"></mat-spinner>
                <button mat-button>
                    <mat-icon>share</mat-icon>
                    SHARE
                </button>
                <button *ngIf="this.profileSettings.profileCardType == profileCardType.UserProfile" (click)="addToContacts()" mat-button>
                    <mat-icon>add</mat-icon>
                    ADD
                </button>
                <button *ngIf="this.profileSettings.profileCardType == profileCardType.MyContactProfile" (click)="startChatting()" mat-button>
                    <mat-icon>chat_bubble</mat-icon>
                    CHAT
                </button>
                <input #file type="file" accept="image/*" (change)="setActivePhoto(file.files)" style="display: none;"/>
                <button *ngIf="this.profileSettings.profileCardType == profileCardType.MyProfile" (click)="file.click()" mat-button>
                    <mat-icon>add_a_photo</mat-icon>
                    PHOTO
                </button>
            </mat-card-actions>
    </div>
  </mat-card>
  <div *ngIf="showOverlay" class="user-photo-overlay">
    <div>
        <button class="shadow-button left-shadow-button" (click)="showNextImage()"><</button>
        <button class="shadow-button right-shadow-button" (click)="showPreviousImage()">></button>
    </div>
    <div class="overlay-photo-container" (click)="hideImage()">
        <img class="overlay-photo" [attr.src]="ActiveOverlayPhoto | secure | async" alt="Photo of a User">
    </div>
  </div>